<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>product list - {{mode}}</h1>
                <table class="table table-bordered w-100">
                    <thead>
                        <tr>
                            <th>Sr No</th>
                            <th>Product Name</th>
                            <th>Category Name</th>
                            <th>Product Description</th>
                            <th>Product Image </th>
                            <th>Product Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngIf="isLoader == true">
                            <tr>
                                <td colspan="7">
                                    <div class="d-block m-auto spinner-border text-center text-warning"></div>
                                </td>
                            </tr>
                        </ng-container>
                        <ng-container *ngIf="isLoader == false">
                            <tr *ngFor="let product of ProductList;let sr= index">
                                <td> {{sr+1}}</td>
                                <td> {{product.productName}}</td>
                                <td>
                                    {{product.categoryName}}
                                </td>
                                <td> {{product.productDescription | na}}</td>
                                <td> <img src="{{product.productImageUrl}}" class="w-100" /></td>
                                <td> {{product.productPrice}}</td>
                                <td appIsEdit>
                                    <button class="btn btn-danger" (click)="onDelete(product.productId)">Delete</button>
                                </td>
                            </tr>
                        </ng-container>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>