<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card col-12 float-start">
        <div class="card-header bg-success">Add Procduct</div>
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <label for="name">ProductId</label>
              <input
                type="text"
                name="ProductId"
                id="ProductId"
                [(ngModel)]="productObj.productId"
                class="form-control"
              />
            </div>
            <div class="col-6">
              <label for="ProductSku">ProductSku</label>
              <input
                type="text"
                name="ProductSku"
                id="ProductSku"
                [(ngModel)]="productObj.productSku"
                class="form-control"
              />
            </div>
            <div class="col-6">
              <label for="ProductName">ProductName</label>
              <input
                type="text"
                name="ProductName"
                id="ProductName"
                [(ngModel)]="productObj.productName"
                class="form-control"
              />
            </div>
            <div class="col-6">
              <label for="ProductPrice">ProductPrice</label>
              <input
                type="text"
                name="ProductPrice"
                id="ProductPrice"
                [(ngModel)]="productObj.productPrice"
                class="form-control"
              />
            </div>
            <div class="col-6">
              <label for="ParentCategoryId">ProductShortName</label>
              <input
                type="text"
                name="ProductShortName"
                id="ParentCategoryId"
                [(ngModel)]="productObj.productShortName"
                class="form-control"
              />
            </div>
            <div class="col-6">
              <label for="ParentCategoryId">ProductDescription</label>
              <input
                type="text"
                name="ProductDescription"
                id="ProductDescription"
                [(ngModel)]="productObj.productDescription"
                class="form-control"
              />
            </div>
            <div class="col-6">
              <label for="ParentCategoryId">CreatedDate</label>
              <input
                type="date"
                name="CreatedDate"
                id="CreatedDate"
                [(ngModel)]="productObj.createdDate"
                class="form-control"
              />
            </div>
            <div class="col-6">
              <label for="DeliveryTimeSpan">DeliveryTimeSpan</label>
              <input
                type="text"
                name="DeliveryTimeSpan"
                id="DeliveryTimeSpan"
                [(ngModel)]="productObj.deliveryTimeSpan"
                class="form-control"
              />
            </div>
            <div class="col-6">
              <label for="CategoryId">CategoryId</label>
              <input
                type="text"
                name="CategoryId"
                id="CategoryId"
                [(ngModel)]="productObj.categoryId"
                class="form-control"
              />
            </div>
            <div class="col-6">
              <label for="ProductImageUrl">ProductImageUrl</label>
              <input
                type="text"
                name="ProductImageUrl"
                id="ProductImageUrl"
                [(ngModel)]="productObj.productImageUrl"
                class="form-control"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <button class="btn btn-primary" (click)="createProduct()">
                <!-- <span
                  *ngIf="isLoaderPresent"
                  class="spinner-border spinner-border-sm"
                ></span> -->
                Save Category
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
