<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card col-8 float-start mr-2">
        <div class="card-header bg-primary">Product List</div>
        <div class="card-body">
          <table class="table table-responsive">
            <thead>
              <tr class="table-primary">
                <th>ProductId</th>
                <th>ProductSku</th>
                <th>ProductName</th>
                <th>ProductPrice</th>
                <th>ProductDescription</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of productList">
                <td>{{ product.ProductId }}</td>
                <td>{{ product.ProductSku }}</td>
                <td>{{ product.ProductName }}</td>
                <td>{{ product.ProductPrice }}</td>
                <td>{{ product.ProductDescription }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card col-4 float-end">
        <div class="card-header bg-success">Add Procduct</div>
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <label for="name">ProductId</label>
              <input
                type="text"
                name="ProductId"
                id="ProductId"
                [(ngModel)]="productObj.ProductId"
                class="form-control"
              />
            </div>
            <div class="col-6">
              <label for="ProductSku">ProductSku</label>
              <input
                type="text"
                name="ProductSku"
                id="ProductSku"
                [(ngModel)]="productObj.ProductSku"
                class="form-control"
              />
            </div>
            <div class="col-6">
              <label for="ProductName">ProductName</label>
              <input
                type="text"
                name="ProductName"
                id="ProductName"
                [(ngModel)]="productObj.ProductName"
                class="form-control"
              />
            </div>
            <div class="col-6">
              <label for="ProductPrice">ProductPrice</label>
              <input
                type="text"
                name="ProductPrice"
                id="ProductPrice"
                [(ngModel)]="productObj.ProductPrice"
                class="form-control"
              />
            </div>
            <div class="col-6">
              <label for="ParentCategoryId">ProductShortName</label>
              <input
                type="text"
                name="ProductShortName"
                id="ParentCategoryId"
                [(ngModel)]="productObj.ProductShortName"
                class="form-control"
              />
            </div>
            <div class="col-6">
              <label for="ParentCategoryId">ProductDescription</label>
              <input
                type="text"
                name="ProductDescription"
                id="ProductDescription"
                [(ngModel)]="productObj.ProductDescription"
                class="form-control"
              />
            </div>
            <div class="col-6">
              <label for="ParentCategoryId">CreatedDate</label>
              <input
                type="date"
                name="CreatedDate"
                id="CreatedDate"
                [(ngModel)]="productObj.CreatedDate"
                class="form-control"
              />
            </div>
            <div class="col-6">
              <label for="DeliveryTimeSpan">DeliveryTimeSpan</label>
              <input
                type="text"
                name="DeliveryTimeSpan"
                id="DeliveryTimeSpan"
                [(ngModel)]="productObj.DeliveryTimeSpan"
                class="form-control"
              />
            </div>
            <div class="col-6">
              <label for="CategoryId">CategoryId</label>
              <input
                type="text"
                name="CategoryId"
                id="CategoryId"
                [(ngModel)]="productObj.CategoryId"
                class="form-control"
              />
            </div>
            <div class="col-6">
              <label for="ProductImageUrl">ProductImageUrl</label>
              <input
                type="text"
                name="ProductImageUrl"
                id="ProductImageUrl"
                [(ngModel)]="productObj.ProductImageUrl"
                class="form-control"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <button class="btn btn-primary" (click)="createProduct()">
                <!-- <span
                  *ngIf="isLoaderPresent"
                  class="spinner-border spinner-border-sm"
                ></span> -->
                Save Category
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
